---
layout: default
title: Home
---
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post post-bottom-padding">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

      {% assign flag = false %}
    <span class="post-date">
        <span>
            <i class="fa fa-calendar"></i>
        {{ post.date | date_to_string }}
             <i class="fa fa-tags fa-rotate-90"></i>
			{% for tag in post.tags %}
				{% if flag %}
                    <en>|</en>
                {% endif %}
                {% assign flag = true %}
                <em> <a href="{{ site.url }}/tags/{{tag}}">{{ tag }}</a> </em>
			{% endfor %}
        </span>
    </span>

    {{ post.excerpt | strip_html }}
      <a href="{{ post.url }}"><small> read more </small>  </a>
  </div>

  {% endfor %}
</div>
<!--temp code blank add -->
<div id="adwraper">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- blank_ad -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-1951168908528676"
     data-ad-slot="6039871740"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<!--temp code blank add -->

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

