/*
   ________    ________      ___      ___      ___  ________      _________    _______       ________       ________      ________      _______
  |\   __  \  |\   __  \    |\  \    |\  \    /  /||\   __  \    |\___   ___\ |\  ___ \     |\   ___  \    |\   __  \    |\   ___ \    |\  ___ \
  \ \  \|\  \ \ \  \|\  \   \ \  \   \ \  \  /  / /\ \  \|\  \   \|___ \  \_| \ \   __/|    \ \  \\ \  \   \ \  \|\  \   \ \  \_|\ \   \ \   __/|
   \ \   ____\ \ \   _  _\   \ \  \   \ \  \/  / /  \ \   __  \       \ \  \   \ \  \_|/__   \ \  \\ \  \   \ \  \\\  \   \ \  \ \\ \   \ \  \_|/__
    \ \  \___|  \ \  \\  \|   \ \  \   \ \    / /    \ \  \ \  \       \ \  \   \ \  \_|\ \   \ \  \\ \  \   \ \  \\\  \   \ \  \_\\ \   \ \  \_|\ \
     \ \__\      \ \__\\ _\    \ \__\   \ \__/ /      \ \__\ \__\       \ \__\   \ \_______\   \ \__\\ \__\   \ \_______\   \ \_______\   \ \_______\
      \|__|       \|__|\|__|    \|__|    \|__|/        \|__|\|__|        \|__|    \|_______|    \|__| \|__|    \|_______|    \|_______|    \|_______|
   ________       ________      ___           ___  ___      _________    ___      ________      ________       ________
  |\   ____\     |\   __  \    |\  \         |\  \|\  \    |\___   ___\ |\  \    |\   __  \    |\   ___  \    |\   ____\
  \ \  \___|_    \ \  \|\  \   \ \  \        \ \  \\\  \   \|___ \  \_| \ \  \   \ \  \|\  \   \ \  \\ \  \   \ \  \___|_
   \ \_____  \    \ \  \\\  \   \ \  \        \ \  \\\  \       \ \  \   \ \  \   \ \  \\\  \   \ \  \\ \  \   \ \_____  \
    \|____|\  \    \ \  \\\  \   \ \  \____    \ \  \\\  \       \ \  \   \ \  \   \ \  \\\  \   \ \  \\ \  \   \|____|\  \
      ____\_\  \    \ \_______\   \ \_______\   \ \_______\       \ \__\   \ \__\   \ \_______\   \ \__\\ \__\    ____\_\  \
     |\_________\    \|_______|    \|_______|    \|_______|        \|__|    \|__|    \|_______|    \|__| \|__|   |\_________\
     \|_________|                                                                                                \|_________|

*/


/*.sidebar {*/
    /*opacity: 0.8;*/
/*}*/

/*.sidebar:hover {*/
    /*opacity: 1.0;*/
/*}*/

.sidebar-logo {
    padding: 1rem;
}

.sidebar-logo img {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 120px;
    margin: 0 auto;
}

.archive-title {
    margin: 1rem 0;
}

.inline-title {
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-family: cursive;
    font-style: italic;
    font-weight: bold;
}

.inline-title-post {
    margin-bottom: 1rem;
    font-family: cursive;
    font-style: italic;
    font-weight: bold;
}

.tag-icon-prefix {
    background:url(/assets/tag28x28.png) left top;
    width:28px;
    height:28px;
    display: block;
    float: left;
    margin-right: 3px;

}

.tag1-icon-prefix {
    background:url(/assets/Tag_1_38x38.png) left top;
    width:38px;
    height:38px;
    display: block;
    float: left;
    margin-right: 5px;
    margin-top: 10px;
}

.tag-list{
    margin-top: .4rem;
}

.post-bottom-padding{
    margin-bottom: 0rem !important;
    padding-bottom: 2rem !important;
    padding-top: 2rem !important;
    border-bottom: 1px dotted lightgray;
}

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    overflow: hidden;
    width: 44px;
    height:44px;
    border: none;
    text-indent: 100%;
    background: url(/assets/top_move.png) no-repeat right top;
}

.sidebar_fixed{
    top:40px;
    float: left;
    margin-left: 40px;
    position: fixed;
}

.frame-video{
    width: 90%;
    height:300px;
    align-items: center;
}

.frame-video-small{
    width: 60%;
    height:315px;
}

.absolute-right{
    position: fixed;
    right: 40px;
    top:20px;
    color: #75b5aa !important;
}

.absolute-right-small{
    position: fixed;
    right: 0px;
    top:20px;
    color: #75b5aa !important;
    padding-right: 10px;
}

.absolute-right-small a{
    color:#2DCCA2;
}

.letitbegin {position:fixed;z-index:-9999;top:0;left:0;width:100%;height:100%;margin:0;padding:0;}

.pxtoemwrapper {
    width: 95%;
    padding: 0.5em;
    margin: 1em auto 1em auto;
    background: #444;
    background: rgba(0, 0, 0, .2);
    border-radius: 0.625em;
    overflow: hidden;
}

.pxtoemwrapper .segment{
    width: 45%;
    padding-bottom: 18em;
    margin-bottom: 1%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    color: #FFF;
    position: relative;
    float: left;
}

.pxtoemwrapper .segment2{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    width: 20em;
}

.px-area, .em-area {
    background-color: #efefef;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
    font-size: 12px;
    width: 100%;
    resize: none;
    height: 90%;
    color: #bfbfbf;
    position: absolute;
}

.code-button {
background-color: #92c46d;
text-transform: uppercase;
padding: 12px 19px 10px 10px;
border-radius: 3px;
cursor: pointer;
font-size: 13px;
min-height: 42px;
width:30%;
color: #fff;
-webkit-box-shadow: 0 2px 0 #63973c;
-moz-box-shadow: 0 2px 0 #63973c;
box-shadow: 0 2px 0 #63973c;
font-family: 'Karla', sans-serif;
margin-left: 20px
}

.base-size {
background-color: #efefef;
padding: 13px 19px 12px 19px;
border-radius: 3px;
min-height: 42px;
color: #bfbfbf;
font-size: 15px;
clear: both;
float: left;
width:40%;
font-family: 'Monaco', sans-serif;
max-height: 42px;
}

.segment .title{
    text-align: center;
}

@media screen and (max-width: 28em) {
    .px-area, .em-area {
        background-color: #efefef;
        -webkit-border-bottom-right-radius: 3px;
        -webkit-border-bottom-left-radius: 3px;
        -moz-border-radius-bottomright: 3px;
        -moz-border-radius-bottomleft: 3px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        padding: 10px;
        font-size: 12px;
        width: 100%;
        resize: none;
        height: 85%;
        color: #bfbfbf;
        position: absolute;
    }
    .code-button {
        background-color: #92c46d;
        text-transform: uppercase;
        padding: 12px 19px 10px 10px;
        border-radius: 3px;
        cursor: pointer;
        font-size: 13px;
        min-height: 35px;
        width:26%;
        color: #fff;
        -webkit-box-shadow: 0 2px 0 #63973c;
        -moz-box-shadow: 0 2px 0 #63973c;
        box-shadow: 0 2px 0 #63973c;
        font-family: 'Karla', sans-serif;
        margin-left: 10px
    }

    .base-size {
        background-color: #efefef;
        padding: 13px 19px 12px 19px;
        border-radius: 3px;
        min-height: 42px;
        color: #bfbfbf;
        font-size: 15px;
        clear: both;
        float: left;
        width:30%;
        font-family: 'Monaco', sans-serif;
        max-height: 42px;
    }
}