/*
   ________    ________      ___      ___      ___  ________      _________    _______       ________       ________      ________      _______
  |\   __  \  |\   __  \    |\  \    |\  \    /  /||\   __  \    |\___   ___\ |\  ___ \     |\   ___  \    |\   __  \    |\   ___ \    |\  ___ \
  \ \  \|\  \ \ \  \|\  \   \ \  \   \ \  \  /  / /\ \  \|\  \   \|___ \  \_| \ \   __/|    \ \  \\ \  \   \ \  \|\  \   \ \  \_|\ \   \ \   __/|
   \ \   ____\ \ \   _  _\   \ \  \   \ \  \/  / /  \ \   __  \       \ \  \   \ \  \_|/__   \ \  \\ \  \   \ \  \\\  \   \ \  \ \\ \   \ \  \_|/__
    \ \  \___|  \ \  \\  \|   \ \  \   \ \    / /    \ \  \ \  \       \ \  \   \ \  \_|\ \   \ \  \\ \  \   \ \  \\\  \   \ \  \_\\ \   \ \  \_|\ \
     \ \__\      \ \__\\ _\    \ \__\   \ \__/ /      \ \__\ \__\       \ \__\   \ \_______\   \ \__\\ \__\   \ \_______\   \ \_______\   \ \_______\
      \|__|       \|__|\|__|    \|__|    \|__|/        \|__|\|__|        \|__|    \|_______|    \|__| \|__|    \|_______|    \|_______|    \|_______|
   ________       ________      ___           ___  ___      _________    ___      ________      ________       ________
  |\   ____\     |\   __  \    |\  \         |\  \|\  \    |\___   ___\ |\  \    |\   __  \    |\   ___  \    |\   ____\
  \ \  \___|_    \ \  \|\  \   \ \  \        \ \  \\\  \   \|___ \  \_| \ \  \   \ \  \|\  \   \ \  \\ \  \   \ \  \___|_
   \ \_____  \    \ \  \\\  \   \ \  \        \ \  \\\  \       \ \  \   \ \  \   \ \  \\\  \   \ \  \\ \  \   \ \_____  \
    \|____|\  \    \ \  \\\  \   \ \  \____    \ \  \\\  \       \ \  \   \ \  \   \ \  \\\  \   \ \  \\ \  \   \|____|\  \
      ____\_\  \    \ \_______\   \ \_______\   \ \_______\       \ \__\   \ \__\   \ \_______\   \ \__\\ \__\    ____\_\  \
     |\_________\    \|_______|    \|_______|    \|_______|        \|__|    \|__|    \|_______|    \|__| \|__|   |\_________\
     \|_________|                                                                                                \|_________|

*/


/*.sidebar {*/
    /*opacity: 0.8;*/
/*}*/

/*.sidebar:hover {*/
    /*opacity: 1.0;*/
/*}*/

.sidebar-logo {
    padding: 1rem;
}

.sidebar-logo img {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 120px;
    margin: 0 auto;
}

.archive-title {
    margin: 1rem 0;
}

.inline-title {
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-family: cursive;
    font-style: italic;
    font-weight: bold;
}

.inline-title-post {
    margin-bottom: 1rem;
    font-family: cursive;
    font-style: italic;
    font-weight: bold;
}

.tag-icon-prefix {
    background:url(/assets/tag28x28.png) left top;
    width:28px;
    height:28px;
    display: block;
    float: left;
    margin-right: 3px;

}

.tag1-icon-prefix {
    background:url(/assets/Tag_1_38x38.png) left top;
    width:38px;
    height:38px;
    display: block;
    float: left;
    margin-right: 5px;
    margin-top: 10px;
}

a.tag-list{
    text-decoration: none;
    background-color: #f5f5f5;
}

/*.theme-base-02 a.tag-list:hover , a.tag-list:checked{*/
    /*background-color: rgba(45, 204, 162, 100);*/
    /*color: black;*/
/*}*/

.tag-list{
    display: inline-block;
    margin: .4rem 5px 5px;
    /* min-width: 200px; */
	padding: 10px;
	border-radius: 5px;
    border: 1px ridge black;

}

/*.post-bottom-padding{*/
    /*margin-bottom: 0rem !important;*/
    /*padding-bottom: 2rem !important;*/
    /*padding-top: 2rem !important;*/
    /*border-bottom: 1px dotted lightgray;*/
/*}*/


.card {
    padding:1.5rem;
    box-shadow:0 5px 35px #1d4f4f;
    background: #0A1D1D;
    color: #f5f5f5;
    margin:0 1rem 1rem;
    border-radius:3px;
    user-select:none;
    animation:fly-in-from-left .5s 1s ease both;
    -o-animation:fly-in-from-left .5s 1s ease both;
    -moz-animation:fly-in-from-left .5s 1s ease both;
    -ms-animation:fly-in-from-left .5s 1s ease both;
    -webkit-animation:fly-in-from-left .5s 1s ease both;
    transform-origin:top left;
    -o-transform-origin:top left;
    -moz-transform-origin:top left;
    -ms-transform-origin:top left;
    -webkit-transform-origin:top left;

}

.card:nth-child(even){
    animation-name:fly-in-from-right;
    -o-animation-name:fly-in-from-right;
    -moz-animation-name:fly-in-from-right;
    -ms-animation-name:fly-in-from-right;
    -webkit-animation-name:fly-in-from-right;
    animation-delay:1.1s;
    -o-animation-delay:1.1s;
    -moz-animation-delay:1.1s;
    -ms-animation-delay:1.1s;
    -webkit-animation-delay:1.1s;
    transform-origin:top right;
    -o-transform-origin:top right;
    -moz-transform-origin:top right;
    -ms-transform-origin:top right;
    -webkit-transform-origin:top right;
}

@keyframes fly-in-from-left {
    from {
        transform:translateY(15rem) rotate(15deg);
        -o-transform:translateY(15rem) rotate(15deg);
        -moz-transform:translateY(15rem) rotate(15deg);
        -ms-transform:translateY(15rem) rotate(15deg);
        -webkit-transform:translateY(15rem) rotate(15deg);
        opacity:0;
    }
}

@keyframes fly-in-from-right {
    from {
        transform:translateY(15rem) rotate(-15deg);
        -o-transform:translateY(15rem) rotate(-15deg);
        -moz-transform:translateY(15rem) rotate(-15deg);
        -ms-transform:translateY(15rem) rotate(-15deg);
        -webkit-transform:translateY(15rem) rotate(-15deg);
        opacity:0;
    }
}

.card:after {
    position:absolute;
    font-size:.9rem;
    top:1.5rem;
    right:1rem;
    content:"i";
    border:thin solid gray;
    color:gray;
    width:1rem;
    line-height:1rem;
    text-align:center;
    border-radius:50%;
    pointer-events:none;
}

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    overflow: hidden;
    width: 44px;
    height:44px;
    border: none;
    text-indent: 100%;
    background: url(/assets/top_move.png) no-repeat right top;
}

.frame-video{
    width: 90%;
    height:300px;
    align-items: center;
}

.frame-video-small{
    width: 60%;
    height:315px;
}

.absolute-right{
    position: fixed;
    right: 40px;
    top:20px;
    color: #75b5aa !important;
}


.sidebar_absolute-right{
    position: fixed;
    right: 5px;
    top:80px;
    color: #75b5aa !important;
}

.absolute-right-small{
    position: fixed;
    right: 0px;
    top:20px;
    color: #75b5aa !important;
    padding-right: 10px;
}

.absolute-right-small a{
    color:#2DCCA2;
}

/*.letitbegin {position:fixed;z-index:-9999;top:0;left:0;width:100%;height:100%;margin:0;padding:0;}*/

/*.pxtoemwrapper {*/
    /*width: 95%;*/
    /*padding: 0.5em;*/
    /*margin: 1em auto 1em auto;*/
    /*background: #444;*/
    /*background: rgba(0, 0, 0, .2);*/
    /*border-radius: 0.625em;*/
    /*overflow: hidden;*/
/*}*/

/*.pxtoemwrapper .segment{*/
    /*width: 45%;*/
    /*padding-bottom: 18em;*/
    /*margin-bottom: 1%;*/
    /*margin-right: 2.5%;*/
    /*margin-left: 2.5%;*/
    /*color: #FFF;*/
    /*position: relative;*/
    /*float: left;*/
/*}*/

/*.pxtoemwrapper .segment2{*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*margin-bottom: 1em;*/
    /*width: 20em;*/
/*}*/

/*.px-area, .em-area {*/
    /*background-color: #efefef;*/
    /*-webkit-border-bottom-right-radius: 3px;*/
    /*-webkit-border-bottom-left-radius: 3px;*/
    /*-moz-border-radius-bottomright: 3px;*/
    /*-moz-border-radius-bottomleft: 3px;*/
    /*border-bottom-right-radius: 3px;*/
    /*border-bottom-left-radius: 3px;*/
    /*padding: 10px;*/
    /*font-size: 12px;*/
    /*width: 100%;*/
    /*resize: none;*/
    /*height: 90%;*/
    /*color: #bfbfbf;*/
    /*position: absolute;*/
/*}*/

/*.code-button {*/
/*background-color: #92c46d;*/
/*text-transform: uppercase;*/
/*padding: 12px 19px 10px 10px;*/
/*border-radius: 3px;*/
/*cursor: pointer;*/
/*font-size: 13px;*/
/*min-height: 42px;*/
/*width:30%;*/
/*color: #fff;*/
/*-webkit-box-shadow: 0 2px 0 #63973c;*/
/*-moz-box-shadow: 0 2px 0 #63973c;*/
/*box-shadow: 0 2px 0 #63973c;*/
/*font-family: 'Karla', sans-serif;*/
/*margin-left: 20px*/
/*}*/

/*.base-size {*/
/*background-color: #efefef;*/
/*padding: 13px 19px 12px 19px;*/
/*border-radius: 3px;*/
/*min-height: 42px;*/
/*color: #bfbfbf;*/
/*font-size: 15px;*/
/*clear: both;*/
/*float: left;*/
/*width:40%;*/
/*font-family: 'Monaco', sans-serif;*/
/*max-height: 42px;*/
/*}*/

/*.segment .title{*/
    /*text-align: center;*/
/*}*/

/*@media screen and (max-width: 28em) {*/
    /*.px-area, .em-area {*/
        /*background-color: #efefef;*/
        /*-webkit-border-bottom-right-radius: 3px;*/
        /*-webkit-border-bottom-left-radius: 3px;*/
        /*-moz-border-radius-bottomright: 3px;*/
        /*-moz-border-radius-bottomleft: 3px;*/
        /*border-bottom-right-radius: 3px;*/
        /*border-bottom-left-radius: 3px;*/
        /*padding: 10px;*/
        /*font-size: 12px;*/
        /*width: 100%;*/
        /*resize: none;*/
        /*height: 85%;*/
        /*color: #bfbfbf;*/
        /*position: absolute;*/
    /*}*/
    /*.code-button {*/
        /*background-color: #92c46d;*/
        /*text-transform: uppercase;*/
        /*padding: 12px 19px 10px 10px;*/
        /*border-radius: 3px;*/
        /*cursor: pointer;*/
        /*font-size: 13px;*/
        /*min-height: 35px;*/
        /*width:26%;*/
        /*color: #fff;*/
        /*-webkit-box-shadow: 0 2px 0 #63973c;*/
        /*-moz-box-shadow: 0 2px 0 #63973c;*/
        /*box-shadow: 0 2px 0 #63973c;*/
        /*font-family: 'Karla', sans-serif;*/
        /*margin-left: 10px*/
    /*}*/

    /*.base-size {*/
        /*background-color: #efefef;*/
        /*padding: 13px 19px 12px 19px;*/
        /*border-radius: 3px;*/
        /*min-height: 42px;*/
        /*color: #bfbfbf;*/
        /*font-size: 15px;*/
        /*clear: both;*/
        /*float: left;*/
        /*width:30%;*/
        /*font-family: 'Monaco', sans-serif;*/
        /*max-height: 42px;*/
    /*}*/
/*}*/