/*
   ________    ________      ___      ___      ___  ________      _________    _______       ________       ________      ________      _______
  |\   __  \  |\   __  \    |\  \    |\  \    /  /||\   __  \    |\___   ___\ |\  ___ \     |\   ___  \    |\   __  \    |\   ___ \    |\  ___ \
  \ \  \|\  \ \ \  \|\  \   \ \  \   \ \  \  /  / /\ \  \|\  \   \|___ \  \_| \ \   __/|    \ \  \\ \  \   \ \  \|\  \   \ \  \_|\ \   \ \   __/|
   \ \   ____\ \ \   _  _\   \ \  \   \ \  \/  / /  \ \   __  \       \ \  \   \ \  \_|/__   \ \  \\ \  \   \ \  \\\  \   \ \  \ \\ \   \ \  \_|/__
    \ \  \___|  \ \  \\  \|   \ \  \   \ \    / /    \ \  \ \  \       \ \  \   \ \  \_|\ \   \ \  \\ \  \   \ \  \\\  \   \ \  \_\\ \   \ \  \_|\ \
     \ \__\      \ \__\\ _\    \ \__\   \ \__/ /      \ \__\ \__\       \ \__\   \ \_______\   \ \__\\ \__\   \ \_______\   \ \_______\   \ \_______\
      \|__|       \|__|\|__|    \|__|    \|__|/        \|__|\|__|        \|__|    \|_______|    \|__| \|__|    \|_______|    \|_______|    \|_______|
   ________       ________      ___           ___  ___      _________    ___      ________      ________       ________
  |\   ____\     |\   __  \    |\  \         |\  \|\  \    |\___   ___\ |\  \    |\   __  \    |\   ___  \    |\   ____\
  \ \  \___|_    \ \  \|\  \   \ \  \        \ \  \\\  \   \|___ \  \_| \ \  \   \ \  \|\  \   \ \  \\ \  \   \ \  \___|_
   \ \_____  \    \ \  \\\  \   \ \  \        \ \  \\\  \       \ \  \   \ \  \   \ \  \\\  \   \ \  \\ \  \   \ \_____  \
    \|____|\  \    \ \  \\\  \   \ \  \____    \ \  \\\  \       \ \  \   \ \  \   \ \  \\\  \   \ \  \\ \  \   \|____|\  \
      ____\_\  \    \ \_______\   \ \_______\   \ \_______\       \ \__\   \ \__\   \ \_______\   \ \__\\ \__\    ____\_\  \
     |\_________\    \|_______|    \|_______|    \|_______|        \|__|    \|__|    \|_______|    \|__| \|__|   |\_________\
     \|_________|                                                                                                \|_________|

*/


/*.sidebar {*/
    /*opacity: 0.8;*/
/*}*/

/*.sidebar:hover {*/
    /*opacity: 1.0;*/
/*}*/

.sidebar-logo {
    padding: 1rem;
}

.sidebar-logo img {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 120px;
    margin: 0 auto;
}

.archive-title {
    margin: 1rem 0;
}

.inline-title {
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-family: cursive;
    font-style: italic;
    font-weight: bold;
}

.inline-title-post {
    margin-bottom: 1rem;
    font-family: cursive;
    font-style: italic;
    font-weight: bold;
}

.tag-icon-prefix {
    background:url(/assets/tag28x28.png) left top;
    width:28px;
    height:28px;
    display: block;
    float: left;
    margin-right: 3px;

}

.tag1-icon-prefix {
    background:url(/assets/Tag_1_38x38.png) left top;
    width:38px;
    height:38px;
    display: block;
    float: left;
    margin-right: 5px;
    margin-top: 10px;
}

.tag-list{
    margin-top: .4rem;
}

.post-bottom-padding{
    margin-bottom: 0rem !important;
    padding-bottom: 2rem !important;
    padding-top: 2rem !important;
    border-bottom: 1px dotted lightgray;
}

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    overflow: hidden;
    width: 44px;
    height:44px;
    border: none;
    text-indent: 100%;
    background: url(/assets/top_move.png) no-repeat right top;
}


.frame-video{
    width: 90%;
    height:300px;
    align-items: center;
}

.frame-video-small{
    width: 60%;
    height:315px;
}

.absolute-right{
    position: fixed;
    right: 40px;
    top:20px;
    color: #75b5aa !important;
}

.absolute-right-small{
    position: fixed;
    right: 0px;
    top:25px;
    color: #75b5aa !important;
    padding-right: 10px;
}

.absolute-right-small a{
     color:#2DCCA2;
}