---
layout: default
---
<div class="page">
    <div class="align-center">
        <h1 class="page-title"> <strong>{{ page.title }} </strong> </h1> <!--<ins> for underline-->
    </div>
  {{ content }}
</div>

<!--temp code blank add -->
<div id="adwraper">
    <!--<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
    <!--&lt;!&ndash; blank_ad &ndash;&gt;-->
    <!--<ins class="adsbygoogle"-->
         <!--style="display:inline-block;width:728px;height:90px"-->
         <!--data-ad-client="ca-pub-1951168908528676"-->
         <!--data-ad-slot="6039871740"></ins>-->
    <!--<script>-->
        <!--(adsbygoogle = window.adsbygoogle || []).push({});-->
    <!--</script>-->

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- responsive -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-1951168908528676"
         data-ad-slot="2915804949"
         data-ad-format="auto"></ins>
    <script>
        window.setTimeout(function () {
            (adsbygoogle = window.adsbygoogle || []).push({});
        }, 200);
    </script>
</div>
<!--temp code blank add -->
