---
layout: default
comments:   true
---

<div class="post">
    <h1 class="post-title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
    <span class="post-date">
        <span>
            <i class="fa fa-calendar"></i>
            {{ page.date | date_to_string }}
            <i class="fa fa-tags fa-rotate-90"></i>
                    {% assign flag = flase %}
					{% for tag in page.tags %}
                        {% if flag %}
                            <en>|</en>
                        {% endif %}
                        {% assign flag = true %}
						<em> <a href="{{ site.url }}/tags/{{tag}}">{{ tag }}</a> </em>
					{% endfor %}
        </span>
    </span>
    {{ content }}
</div>

<div class="related">
  <h3 class="inline-title-post">Related Posts</h3>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>

          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>

      </li>
    {% endfor %}
  </ul>
</div>

{% if page.comments %}
{% include comments.html %}
{% endif %}